---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SocialMediaSection from '../components/SocialMediaSection.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Newsletter from '../components/Newsletter.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="p-60px p-8">
			<div class="mx-auto max-w-2xl">
				<section class="flex items-center indent-4" style="margin-top: 25rem;">
					<p><span class="hover-sticky">{SITE_DESCRIPTION}</span>, I am a Junior Computer Science Student at <a href="https://www.tamu.edu/">Texas A&M University</a> and a lifelong learner. Even though Nuclear Engineer was my first choice back in my Freshman year, I fell in love with coding after completing my Freshman year of Engineering classes. I now strive to become a full-stack developer focused on bringing a captivating experience to users.</p>
				</section>
				<SocialMediaSection/>
				<Newsletter/>
			</div>
		</main>
		<Footer />
	</body>
</html>
