---
import Icon from "./Icon.astro";
---

<section class="p-2">
    <h2
        class="font-mplus mb-5 mt-7 text-right text-2xl font-bold underline underline-offset-4"
        style="font-size: var(--text-lg);"
    >
        Contact
    </h2>
    <a href="mailto:vuthuynhi05@gmail.com">
        <div
            class="ml-auto flex flex-row justify-end rounded-full border-2 p-2 text-black"
            style="border-color: #000; background-color: var(--accent-sky-blue); max-width: 12rem;"
        >
            <p
                class="mr-2"
                style="font-weight: 500; font-size: var(--text-sm);"
            >
                Connect with me
            </p>
            <Icon
                class="icon-shake"
                icon="paper-plane-tilt"
                size="1.1em"
                color="#000"
            />
        </div>
    </a>
</section>
