<div id="dot" class="invisible lg:visible"></div>
  
  <style>
  #dot {
      background-color: #ff0000;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      position: fixed;
      z-index: 1000;
      transition: transform 0.3s;
      pointer-events: none;
    }
  </style>
  
  <script>
  export default {
    mounted() {
      document.addEventListener('mousemove', (event) => {
        const dot = document.getElementById('dot');
        dot.style.transform = `translate(${event.clientX}px, ${event.clientY}px)`;
      });
    },
  };
  </script>