---
import { NAME } from '../consts';
const today = new Date()
---

<footer>
	<span>{today.getFullYear()}</span>, {NAME}. All Rights Reserved
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		position: relative;
		bottom:0;
		font-size: var(--text-sm);
	}
</style>
