---
import HeaderLink from "./HeaderLink.astro";
import DropdownMenu from './DropdownMenu';
---

<header class="relative z-20 mb-8 w-full p-2">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center justify-between gap-3 text-base">
      <a href="/" class="group">
        <h2 class="font-mplus font-semibold pt-2 text-lg tracking-wide uppercase">Nhi Thuy Vu</h2>
        <p style="font-size: var(--text-sm);">
          Computer Science Student
        </p>
      </a>
      <div class="flex items-center gap-6 text-base md:hidden">
        <DropdownMenu client:visible/>
      </div>
      
      <div class="hidden md:flex items-center gap-6 text-base">
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="https://drive.google.com/file/d/1kEYJiNMHdcBPOI0kir2n3yFmbb4DBuYo/view?usp=sharing">Resume</HeaderLink>
        <div class="ml-auto flex-1"></div>
      </div>
    </nav>
  </div>
</header>