---
import HeaderLink from './HeaderLink.astro';
import DropdownMenu from './DropdownMenu';
---

<header class='relative z-20 mb-8 w-full p-2'>
  <div class='mx-auto max-w-3xl'>
    <nav class='flex items-center justify-between gap-3 text-base'>
      <a href='/'>
        <img
          class='slide-item h-10 w-10 opacity-90'
          src='/white-logo.png'
          alt='white-logo'
          data-transition-duration='0.4s'
          data-transition-easing='ease'
        />
      </a>
      <div class='flex items-center gap-6 text-base md:hidden'>
        <DropdownMenu client:visible />
      </div>
      <div class='hidden items-center gap-6 text-base md:flex'>
        <HeaderLink
          href='/about'
          class='slide-item'
          data-transition-duration='0.4s'
          data-transition-easing='ease'
        >
          About
        </HeaderLink>
        <HeaderLink
          href='https://drive.google.com/file/d/1dDgBqAg6Lc5N58lPqxgQve7FL10qr0bx/view?usp=sharing'
          class='slide-item'
          data-transition-duration='0.5s'
          data-transition-easing='ease'
        >
          Download CV
        </HeaderLink>
        <HeaderLink
          href='mailto:vuthuynhi05@gmail.com'
          class='slide-item'
          data-transition-duration='0.5s'
          data-transition-easing='ease'
        >
          Contact
        </HeaderLink>
        <div class='ml-auto flex-1'></div>
      </div>
    </nav>
  </div>
</header>
