---
import Icon from "./Icon.astro";
---

<section>
    <h2 class="font-mplus font-bold text-2xl mt-7 mb-5 text-right underline underline-offset">
        Newsletter
    </h2>
    <a href="mailto:vuthuynhi05@gmail.com">
        <div class="flex flex-row justify-end p-2 ml-auto border-2 rounded-full text-black">
            <p class="mr-2">Connect with me</p>
            <Icon icon="paper-plane-tilt" size="1.5em" color="#000"/>
        </div>
    </a>
</section>

<style>
    div
    {
        border-color: #000;
        background-color: var(--accent-light);
        max-width: 11rem;
    }
</style>